.creater {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creater_movie {
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0, 0.7);
    border: 2px solid grey;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.creater_movie h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin: 15px 40px;
    text-align: center;
}

.creater_movie input {
    padding: 10px;
    width: 90%;
    color: #fff;
    font-size: 20px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 15px;
    text-align: center;
    margin: 0 40px;
}

.creater_movie button {
    margin-top: 30px;
    color: #fff;
    margin-left: 40%;
    border: none;
    transition: .3s;
    background: darkorange;
    border-radius: 15px;
    height: 50px;
    font-size: 17px;
    text-align: center;
    width: 20%;
    margin-right: 10px;
    text-align: center;
}