.nav {
  background-color: white;
    padding:0px;
    display: flex;
    justify-content: space-around;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEVeXl5pszJJAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=); */
  }

  .ava {  
    padding: 5px;
    color:  rgb(202, 2, 2);
    border: 2px solid rgb(202, 2, 2);
    font-family: 'Netflix Font';    
    font-size: 35px;    
    background-color: aliceblue;
    border-radius: 10px;    
    margin: 10px;                                
  }
  
  .item a {
    color:  rgb(202, 2, 2);
    border: 2px solid rgb(202, 2, 2);
    font-size: 20px ;
    text-decoration:none;
    margin: 10px; 
    border-radius: 10px;   
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item a:active {
    color: rgb(58, 58, 149);
    font-size: 35px ;
  }
  header{
    height: 70px;
  }
  
 