
.offerToRegistor {
    text-decoration: none;
};

h4 a {
    text-decoration: none;
    color: rgb(3, 3, 184);
};

.form{
 background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3) ) ;
 font-family: sans-serif;
 display: flex;
 flex-direction: column;
 justify-content: center;

}
.sign-in-container{
    height: 700px;
     position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,.7);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.sign-in-container h1{
    margin: 30px 100px;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
    margin: 15px 40px;
	text-align: center;
}
.sign-in-container input{
    padding: 10px;
	width: 100%;
	color: #fff;
	font-size: 20px;
	background: none;
	outline: none;
	border: 1px solid #fff;
	box-sizing: border-box;
    text-align: center;

    /* border: 1px solid #0fc3f5; */
}
/* .sign-in-container input [type="text"]:focus, .input-form input[type="password"]:focus{
    border: 1px solid #0fc3f5;
} */
.sign-in-container button{
    margin-top: 30px;
	color: #fff;
    margin-left: 380px;
	border: none;
	transition: .3s;
    background: #4442db;
    border-radius: 15px;
	height: 38px;
	text-align: center;
	width: 20%;
	margin-right: 10px;
	text-align: center;
}
.input-form{
	border-radius: 1px solid;
}
.content{
	width: 0px;
	
}
.php{
	text-align: center;
	color: #fff;
	font-size: large ;
}